* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-size: 60%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
}

.whatsapp {
  background-color: #34af23;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: background-color 1s, color 1s, border-color 1s;
}

.button-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-decoration: none !important;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  z-index: 9;
  position: fixed;
  outline: none;
  bottom: 4rem;
  right: 0;
  width: 50px;
  height: 45px;
}

.button-whatsapp  svg {
  fill: #FFF !important;
  width: 40px;
  transition: fill 1s;
}

.button-whatsapp  svg:hover {
  fill: #34af23 !important;
}

.whatsapp:hover {
  background-color: #FFF;
  border-color: #34af23;
}

.back-top svg {
  fill: #FFF !important;
  width: 35px;
  transition: fill 1s;
}

.back-top {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none !important;
  outline: none;
  width: 50px;
  height: 45px;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  background-color: #3FFCAD;
  position: fixed;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  bottom: 0.5rem;
  right: 0;
  z-index: 9;
  cursor: pointer;
  transition: background-color 1s, border-color 1s;
}

.back-top:hover {
  background-color: #FFF;
  border-color: #3FFCAD;
}

.back-top svg:hover {
  fill: #3FFCAD !important;
}

.menu img {
  width: 140px;
}

.col-4 {
  width: 100%;
}

.col-3 {
  width: 100%;
}

.col-6 {
  width: 100%;
}

.col-12 {
  width: 100%;
}

.violet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4FA3C4;
}

.white {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.grey {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F4F8;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4FA3C4;
}

.container-form {
  width: 85vw;
  padding: 2rem 0;
}

.title-header {
  font-size: 1.8rem;
  font-weight: 800;
  color: #FFF;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}

.text-header {
  font-size: 1rem;
  color: #FFF;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}

.form-container {
  width: 100%;
  background-color: #F4F4F4;
  padding: 2rem;
  box-shadow: 0px 4px 30px #0006;
  border-radius: 1rem;
}

.title-form {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: #4FA3C4;
  margin-bottom: 0.3rem;
}

.text-form {
  font-size: 1rem;
  line-height: 1.3rem;
  color: #575757;
  margin-bottom: 0.5rem;
}

.form-box {
  margin-bottom: 1rem;
}

.form-box label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #575757;
  font-weight: 700;
}

.form-box input {
  display: block;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #575757;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: 0;
}

.form-box select {
  display: block;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-size: 0.9rem;
  color: #575757;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3FFCAD;
  color: #FFF;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid transparent;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: #FFF;
  color: #3FFCAD;
  border: 2px solid #3FFCAD;
}

.btn-form {
  width: 100%;
  padding: 0.5rem 0;
}

.container-oils {
  width: 85vw;
  margin: 3rem 0;
}

.img-oils {
  width: 100%;
  max-width: 324px;
}

.title-oils {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #4FA3C4;
  margin-bottom: 0.5rem;
}

.text-oils {
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #575757;
  margin-bottom: 1rem;
}

.block-img-oils {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-oils {
  width: 100%;
  padding: 0.5rem 0;
  text-decoration: none;
}

.container-benefits {
  width: 85vw;
  margin: 3rem 0;
}

.img-benefits {
  width: 100%;
  max-width: 445px;
}

.title-benefits {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #FFF;
  margin-bottom: 0.5rem;
}

.text-benefits {
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #FFF;
  margin-bottom: 1rem;
}

.btn-benefits {
  width: 100%;
  padding: 0.5rem 0;
  text-decoration: none;
  margin-bottom: 2rem;
}

.block-img-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-kits {
  width: 85vw;
  margin: 3rem 0;
}

.title-kits {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: center;
  color: #4FA3C4;
  margin-bottom: 4rem;
}

.block-kits {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kit-container {
  width: 100%;
  max-width: 370px;
  height: 1200px;    
  box-shadow: 4px 15px 21px #929292;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.block-header-kit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  padding: 0 2rem;
}

.block-img-kit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.img-kit {
  width: 100%;
  max-width: 288px;
}

.img-kit-pele {
  width: 100%;
  max-width: 296px;
}

.img-kit-pessoal {
  width: 100%;
  max-width: 287px;
}

.title-kit {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #6B69C3;
  margin-bottom: 0.7rem;
}

.title-kit-pele {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #69C3C3;
  margin-bottom: 0.7rem;
  padding-right: 2rem;
}

.title-kit-pessoal {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #3FFCAD;
  margin-bottom: 0.7rem;
}

.text-kit {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1rem;
  color: #575757;
  margin-bottom: 1rem;
}

.block-description-kit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 720px;
  background-color: #F7F9FF;
  padding: 0 2rem;
}

.title-description {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
  color: #575757;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.text-description {
  font-size: 0.7rem;
  line-height: 1rem;
  color: #575757;
  margin-bottom: 0.4rem;
}

.block-footer-kit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.btn-kits {
  width: 80%;
  padding: 0.5rem 0;
  text-decoration: none;
}

.container-about {
  width: 85vw;
  margin: 4rem 0;
  background-color: #FFF;
}

.block-img-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-about {
  width: 100%;
  max-width: 550px;
}

.block-about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.title-about {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #4FA3C4;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.text-about {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #575757;
}

.container-testimony {
  width: 85vw;
  margin: 3rem 0;
}

.title-testimony {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: center;
  color: #FFF;
  margin-bottom: 4rem;
}

.block-testimony {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimony-container {
  width: 100%;
  max-width: 370px;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  box-shadow: 3px 16px 21px #6666;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.block-img-testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.img-testimony {
  width: 100%;
  max-width: 107px;
}

.text-testimony {
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
  text-align: center;
  color: #575757;
  margin: 0 2.5rem;
}

.block-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.block-line span {
  display: block;
  height: 0.1rem;
  width: 80%;
  border-radius: 30px;
  background-color: #A385FB;
}

.testimony-name {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #515ED6;
  margin-bottom: 0.3rem;
}

.testimony-profession {
  font-size: 1.2rem;
  text-align: center;
  color: #575757;
}

.block-text-testimony {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.block-name-testimony {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.block-footer-testimony {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-testimony {
  width: 90%;
  padding: 0.5rem 0;
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

footer img {
  width: 92px;
}

@media (min-width: 1024px) {
  .menu {
    justify-content: flex-start !important;
    padding: 0 4rem;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .col-4 {
    width: 25%;
  }

  .col-3 {
    width: 33%;
  }

  .col-6 {
    width: 50%;
  }

  .form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/background-top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .container-form {
    width: 90vw;
    padding: 3rem 0;
  }

  .block-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .block-text div {
    width: 80%;
  }

  .title-header {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  
  .text-header {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .block-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .form-container {
    width: 80%;
    background-color: #F4F4F4;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }

  .title-form {
    font-size: 1.7rem;
    line-height: 1.9rem;
  }
  
  .text-form {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .title-oils {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 0.5rem;
  }

  .block-oils {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .btn-oils {
    width: 80%;
  }

  .container-benefits {
    width: 85vw;
    margin: 0;
  }

  .block-img-benefits {
    display: flex;
    justify-content: flex-end;
  }

  .title-benefits {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3rem;
    color: #FFF;
    margin-bottom: 1.5rem;
  }
  
  .text-benefits {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #FFF;
    margin-bottom: 1.5rem;
  }

  .block-benefits {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .btn-benefits {
    width: 80%;
  }

  .kit-container {
    margin: 0 1rem;
  }

  .block-header-kit {
    padding: 0 1.5rem;
  }

  .block-about {
    padding: 5rem;
  }

  .text-about {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #575757;
  }

  .testimony-container {
    margin: 0 1rem;
  }

  .btn-testimony {
    width: 40%;
    margin-top: 3rem;
  }
}